/* Button */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #4F83FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}
 
.btn-small {
    width: 50%
}
/* Link */
.link {
    margin-top: 15px;
    font-size: 12px;
}

.link a {
    color: #4F83FF;
    text-decoration: underline;
}

/* For Email Resend Button */
.textButton--hidden {
    display: none;
    color: #4F83FF;
    cursor: pointer;
    text-decoration: none;
}

.textButton--hidden i {
    margin-right: 8px;
}

.textButton {
    display: inline;
    color: #4F83FF;
    cursor: pointer;
    text-decoration: none;
}

.textButton i {
    margin-right: 8px;
}


/* For replacing default checkbox */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: #F5F7FB;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
}

/* Background color when active */
input[type="checkbox"]:checked {
    background-color: #4F83FF;
    border: 1px solid #4F83FF;
}

/* Checkmark when active */
input[type="checkbox"]:checked::after {
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

/* Checkbox */
.checkbox-form {
    margin-bottom: 15px;
    position: relative;
    text-align: left;
}

.checkbox-form input {
    padding: 10px;
    box-sizing: border-box;
    border: none;
    color: #F5F7FB;
    outline: none;
}


.header-buttons {
    display: flex;
    align-items: center;
}

.header-buttons .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border: 1px solid #4F83FF;
    border-radius: 50%;
    color: #4F83FF;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}

.header-buttons .btn img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}