/* Card Styles */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 50px auto;
    margin-top: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 320px; /* Set a fixed width */
    height: 195px; /* Set a fixed height */
    overflow: hidden;
}

.card--small {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 0px;
    width: 320px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    overflow: hidden;
}

.card-header,
.card-body,
.card-footer {
    padding: 10px 0;
}

.card-header:not(:last-child),
.card-body:not(:last-child),
.card-footer:not(:last-child) {
    border-bottom: 1px solid #E0E0E0; /* Add a light gray border */
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-header img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    align-self: center;
}

.card-header-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;    /* Hide the overflowing text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
    max-width: 250px;    /* Adjust based on your design */
    margin-bottom: 5px;
}

.card-subtitle {
    font-size: 12px;
    color: #828282;
    text-align: left;
    margin-bottom: 2.5px;
}

.card-header-actions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
}

.card-header-actions .btn {
    background-color: #D4FFEF;
    color: #5EB594;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.card-header--small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-header--small img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    align-self: center;
}

.card-header-content--small {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.card-header-actions--small {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    position: absolute;
    top: 35%; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%); /* Center vertically within the container */
}

.card-header-actions--small .btn {
    background-color: #D4FFEF;
    color: #5EB594;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.card-title--small {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;    /* Hide the overflowing text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
    max-width: 250px;    /* Adjust based on your design */
    margin-bottom: 5px;
}

.card-subtitle--small {
    font-size: 8px;
    color: #828282;
    text-align: left;
    margin-bottom: 5px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-body .info {
    display: flex;
    align-items: center;
}

.card-body .info i {
    margin-right: 10px;
    color: #828282;
    margin-bottom: 5px;
    width: 15px;
}

.card-body .info span {
    font-size: 11px;
    color: #828282;
}

.card-footer {
    display: flex;
    align-items: center;
}

.card-footer .progress-bar-container {
    flex-grow: 1;
    height: 5px;
    background-color: #E0E0E0;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 10px;
}

.card-footer .progress-bar {
    height: 100%;
    background-color: #4F83FF;
    width: 34%; /* Adjust based on actual progress */
}

.card-footer .progress-text {
    font-size: 14px;
    color: #4F83FF;
}