.carousel {
    overflow: hidden;
    width: 400px;
    position: relative;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-card {
    /* min-width: 100%; */
    box-sizing: border-box;
    background: white;
    padding: 0px;
    margin: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* border-radius: 10px; */
    text-align: center;
    /* font-size: 18px; */
}

.but {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    color: #333;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
